
<h2 class="titreProjet">Presentation of the library</h2>
<div class="presentation">
    
        <!--<p> Les bibliothèques JavaScript sont des instructions de code réutilisables qui peuvent être utilisées pour
        assigner certaines propriétés et fonctions (par exemple pour un site Web). La bibliothèque JavaScript la plus
        connue et utilisé reste jQuery, en effets, +/- 78% des sites inclus dans le top 1 million l'utilisent encore. </p>-->


    <p class="p_1 ">JavaScript libraries are reusable code instructions that can be used to
        assign certain properties and functions (for example for a website).</p>
    <p class="p_2 ">The most popular JavaScript library
        known and used remains jQuery, in fact, +/- 78% of sites included in the top 1 million still use it.</p>
</div>
