
    <h2 class="titreProjet">Projet 1 v2 with library:</h2>
    <a href="https://michalsnik.github.io/aos/" class="" target="_blank">Aos, Animate On Scroll Library</a>
    <div class="projet_1" data-aos="fade-right" data-aos-delay="500">
        <div id="page">
            <header>
                <div class="container">
                    <div class="logo">
                        <a href="#">my<span>logo</span></a>
                    </div>
                    <input type="checkbox" name="check" id="check">
                    <label for="check">
                        <i class="fa-duotone fa-bars"></i>
                    </label>
                    <nav>
                        <ul class="menu">
                            <li data-aos="fade-right" data-aos-delay="800"><a href="#">home.</a></li>
                            <li data-aos="fade-right" data-aos-delay="800"><a href="#about">about.</a></li>
                            <li data-aos="fade-right" data-aos-delay="800"><a href="#projects">projects.</a></li>
                            <li data-aos="fade-right" data-aos-delay="800"><a href="#">team.</a></li>
                            <li data-aos="fade-right" data-aos-delay="800"><a href="#">contact.</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <main>
                <div class="container">
                    <section id="intro">
                        <div class="intro">
                            <img data-aos="flip-up" data-aos-delay="800" class="img_up" src="projet_1/assets/images/deco3-1.png" alt="">
                            <img data-aos="flip-up" data-aos-delay="800" class="img_down" src="projet_1/assets/images/deco2.png" alt="">
                            <h1 data-aos="fade-right" data-aos-delay="800">Awesome title</h1>
                            <h4 data-aos="fade-right" data-aos-delay="800">Pretty nice subtitle</h4>
                            <p data-aos="fade-right" data-aos-delay="800">
                                And some lorem ipsum paragraph.
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Ullam, placeat in quas unde, modi eaque repellat.
                            </p>
                            <div>
                                <a href="#" class="button-container-1">
                                    <span data-aos="fade-right" data-aos-delay="800" class="mas">Get started</span>
                                    <button data-aos="fade-right" data-aos-delay="800" id='work' type="button" name="Hover">Get started</button>
                                </a>

                                <a href="#" class="button-container-2">
                                    <span data-aos="fade-right" data-aos-delay="800" class="mas">Know more</span>
                                    <button data-aos="fade-right" data-aos-delay="800" id='work' type="button" name="Hover">Know more</button>
                                </a>
                            </div>
                        </div>
                    </section>


                    <section id="about">
                        <img data-aos="flip-up" data-aos-delay="800" src="projet_1/assets/images/pic-1.png" alt="image">
                        <div class="about">
                            <img data-aos="flip-up" data-aos-delay="800" class="img_up" src="projet_1/assets/images/Ellipse-1.svg" alt="">
                            <h2 data-aos="fade-right" data-aos-delay="800">
                                Lorem ipsum sec
                                ad no meticulus
                            </h2>
                            <p data-aos="fade-right" data-aos-delay="800">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci nulla cupiditate
                                rerum
                                harum. </p>
                            <p data-aos="fade-right" data-aos-delay="800">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae laudantium mollitia
                                delectus, voluptate nobis perferendis vel atque similique a, vitae ullam doloribus et
                                ducimus obcaecati voluptatem quia temporibus consequatur alias?
                            </p>
                            <a href="#" class="button-container-1">
                                <span data-aos="fade-right" data-aos-delay="800" class="mas">Get started</span>
                                <button id='work' type="button" name="Hover">Get started</button>
                            </a>
                        </div>
                    </section>

                    <section id="projects">
                        <div class="projects">
                            <img data-aos="flip-up" data-aos-delay="800" class="img_up" src="projet_1/assets/images/deco3-1.png" alt="image">
                            <h2 data-aos="fade-right" data-aos-delay="800">
                                Lorem ipsum si amet.
                            </h2>
                            <p data-aos="fade-right" data-aos-delay="800">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae laudantium mollitia
                                delectus, voluptate nobis perferendis vel atque.
                            </p>
                            <!-- <div class=""></div> -->
                        </div>
                        <div class="projets_expo">
                            <a href="projet_1/assets/images/Bitmap.png">
                                <span class="mas span_anime"><i class="fa-solid fa-comment-smile"></i></span>
                                <img data-aos="flip-up" data-aos-delay="800" src="projet_1/assets/images/Bitmap.png" alt="">
                                <p data-aos="fade-right" data-aos-delay="800">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                </p>
                                <span class="date">27 Nov, 2020</span>
                            </a>
                            <a href="projet_1/assets/images/Bitmap(1).png">
                                <span class="mas span_anime"><i class="fa-solid fa-comment-smile"></i></span>
                                <img data-aos="flip-up" data-aos-delay="800" src="projet_1/assets/images/Bitmap(1).png" alt="">
                                <p data-aos="fade-right" data-aos-delay="800">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                </p>
                                <span class="date">25 Nov, 2020</span>
                            </a>
                            <a href="projet_1/assets/images/Bitmap(2).png">
                                <span class="mas span_anime"><i class="fa-solid fa-comment-smile"></i></span>
                                <img data-aos="flip-up" data-aos-delay="800" src="projet_1/assets/images/Bitmap(2).png" alt="">
                                <p data-aos="fade-right" data-aos-delay="800">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                </p>
                                <span class="date">21 Nov, 2020</span>
                            </a>
                        </div>
                    </section>
                </div>
            </main>
            <footer>
                <div class="container">
                    <div class="body">
                        <div class="logo">
                            <a data-aos="fade-right" data-aos-delay="800" href="#">my<span>logo</span></a>
                        </div>
                        <ul class="menu">
                            <li>
                                <h3 data-aos="fade-right" data-aos-delay="800">menu</h3>
                            </li>
                            <li data-aos="fade-right" data-aos-delay="800">lorem</li>
                            <li data-aos="fade-right" data-aos-delay="800">ipsum</li>
                            <li data-aos="fade-right" data-aos-delay="800">sidarta</li>
                            <li data-aos="fade-right" data-aos-delay="800">emmet</li>
                            <li data-aos="fade-right" data-aos-delay="800">lanis</li>
                        </ul>
                        <ul class="service">
                            <li>
                                <h3 data-aos="fade-right" data-aos-delay="800">Service</h3>
                            </li>
                            <li data-aos="fade-right" data-aos-delay="800">Market Research</li>
                            <li data-aos="fade-right" data-aos-delay="800">Branding</li>
                            <li data-aos="fade-right" data-aos-delay="800">Strategy</li>
                            <li data-aos="fade-right" data-aos-delay="800">Concepting</li>
                            <li data-aos="fade-right" data-aos-delay="800">Development</li>
                        </ul>
                        <div class="links">
                            <span>
                                <img data-aos="flip-up" data-aos-delay="800" src="projet_1/assets/images/facebook.svg" alt="">
                            </span>
                            <span>
                                <img data-aos="flip-up" data-aos-delay="800" src="projet_1/assets/images/twitter.svg" alt="">
                            </span>
                            <span>
                                <img data-aos="flip-up" data-aos-delay="800" src="projet_1/assets/images/instagram.png" alt="">
                            </span>

                            <!-- <img data-aos="flip-up" data-aos-delay="800" src="assets/images/Oval.svg" alt="">
                        <img data-aos="flip-up" data-aos-delay="800" src="assets/images/instagram.png" alt=""> -->
                        </div>
                    </div>
                    <span class="hr"></span>
                    <div class="copyright">
                        <p data-aos="fade-right" data-aos-delay="800">Copyright © 2020 Laaqiq. All Rights Reserved.</p>
                        <ul>
                            <li data-aos="fade-right" data-aos-delay="800">Terms of Use</li>
                            <li data-aos="fade-right" data-aos-delay="800">Privacy Policy</li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <div class="exemple_de_code">
        <img src="./assets/images/Aos-library-js.png" alt="" srcset="">
        <img src="./assets/images/Animate-library-style.png" alt="" srcset="">
    </div>