
<style>
    swiper-container{
        padding: 10px 0;
        margin: 100px auto;
        max-width: 800px;
        border: ridge black 30px;
        border-radius: 20px;
    }
    swiper-slide{
        min-height: 500px;
        display: flex;
            justify-content: center;
            align-items: center;
    }
    swiper-slide img{
        max-height: 400px;
        box-shadow: 4px 4px 4px black;
    }
</style>

<h2 class="titreProjet">Demo, Library Swiper Js:</h2>
<a href="https://swiperjs.com/" class="" target="_blank">Library Swiper Js</a>
<swiper-container>
    <swiper-slide><img src="https://wallpapercave.com/wp/wp6850338.jpg" alt="Tech"></swiper-slide>
    <swiper-slide><img src="https://i.pinimg.com/originals/d4/9b/8a/d49b8a22c03d0cf6682dc112649be78b.gif" alt="Tech"></swiper-slide>
    <swiper-slide><img src="https://media.tenor.com/XLRuc0ylSSQAAAAC/star-wars-cat.gif" alt="Tech"></swiper-slide>
    <swiper-slide><img src="https://i.pinimg.com/originals/79/5c/0e/795c0ebf2dc110ef6a191716386753ef.gif" alt="Tech"></swiper-slide>
</swiper-container>

<div class="exemple_de_code">
    <img src="./assets/images/Swiper-library-js.png" alt="" srcset="">
</div>