// .d_fx{}
.sortable{
    // border: solid pink 5px;
    background-color: gray;
    min-height: 100vh;
    padding-top: 100px;
}
.demo4{
    display: flex;
        justify-content: space-around;
        align-items: flex-start;
        gap: 20px;
}
.group_list{
    background-color:bisque;
    padding: 20px;
    color: black;
    width: 500px;
    min-height: 200px;
    // border: solid 3px wheat;
    display: flex;
        flex-direction: column;
        gap: 10px;
    h3{
        padding: 10px;
    }
    .item{
        background-color: antiquewhite;
        box-shadow: $box_shadow;
        // max-width: 500px;
        // border: solid 3px green;
        display: flex;
        div{
            // border: solid 2px blue;
            display: flex;
        }
        > div:first-child{
            padding: 0 10px;
            justify-content: center;
            align-items: center;
            // border: solid red 2px;
        }
        .contenue{
            // border: solid red 4px;
            width: 100%;
                justify-content: space-between;
                align-items: center;
                padding: 0 10px 0 0;
            div{
                // border: solid black 4px;
                flex: 1;
                align-items: center;
                p{
                    padding: 0 10px;
                    flex: 1;
                }
            }
        }
    }
    img{
        width: 100px;
    }
}



#nestedDemo {
    padding: 20px 50px;
    max-width: 1200px;
    margin: auto;
}
#nestedDemo div{
    padding: 10px;
    color: black;
}
.nested-sortable, .nested-1, .nested-2, .nested-3 {
	margin-top: 5px;
}

.nested-1 {
	background-color: #e6e6e6;
}

.nested-2 {
	background-color: #cccccc;
}

.nested-3 {
	background-color: #b3b3b3;
}

.frameworks {
	background-color: rgb(255,255,255,0.5);
	border: solid rgb(0,0,0,0.3) 1px;
	padding: 20px;
}
