<h2 class="titreProjet">Demo, Library Chart Js:</h2>
<a href="https://www.chartjs.org/" class="" target="_blank">Library Chart Js</a>

<div class="box_canvas">
    <canvas id="barCanvas" aria-label="chart" role="img"></canvas>
    <br>
    <br>
    <br>
    <br>
    <canvas id="pieCanvas" aria-label="chart" role="img"></canvas>
</div>

<div class="exemple_de_code">
    <img src="./assets/images/Chart-library-js.png" alt="" srcset="">
</div>

<script>
    const barCanvas = document.getElementById('barCanvas')
    new Chart(barCanvas, {
        type: 'bar',
        data: {
            labels: ["Beijing", "Tokyo", "Seoul", "Hong Kong"],
            datasets: [{
                label: `Country's`,
                data: [240, 120, 300, 200],
                backgroundColor: [
                    "green",
                    "red",
                    "blue",
                    "violet",
                ]
            }]
        },
        options: {
            scales: {
                y: {
                    suggestedMax: 500,
                    ticks: {
                        font: {
                            size: 30
                        }
                    }
                },
                x: {
                    ticks: {
                        font: {
                            size: 20
                        }
                    }
                }
            }
        }
    })

    
    const pieCanvas = document.getElementById('pieCanvas')
    new Chart(pieCanvas, {
        type: 'pie',
        data: {
            labels: ["Marketing", "Developement", "Security"],
            datasets: [{
                data: [300, 150, 100],
                backgroundColor: [
                    "grey",
                    "red",
                    "blue",
                    "violet",
                ],
                hoverOffset: 40
            }]
        }
    })
</script>