<h2 class="titreProjet">Projet 0 v2:</h2>
<a href="https://michalsnik.github.io/aos/" class="" target="_blank">Aos, Animate On Scroll Library</a>
<div class="projet_0" data-aos="fade-right" data-aos-delay="500">
    <div class="card animate__animated animate__bounceInLeft animate__delay-2s">
        <h1 class="animate__animated animate__bounceInLeft animate__delay-2s">BASIC</h1>
        <ul class="box_animate__animated">
    
            <li class="animate__animated animate__bounceInLeft animate__delay-2s">
                <img src="./projet_0/assets/images/Check_green_icon 2.png" alt="Check_green_icon">
                FEATURE ONE</li>
            <li class="animate__animated animate__bounceInLeft animate__delay-3s">
                <img src="./projet_0/assets/images/Check_green_icon 2.png" alt="Check_green_icon">
                FEATURE TWO</li>
            <li class="animate__animated animate__bounceInLeft animate__delay-3s">
                <img src="./projet_0/assets/images/image 3.png" alt="image 3">
                FEATURE THREE</li>
            <li class="animate__animated animate__bounceInLeft animate__delay-4s">
                <img src="./projet_0/assets/images/image 3.png" alt="image 3">
                FEATURE FOUR</li>
            <li class="animate__animated animate__bounceInLeft animate__delay-4s">
                <img src="./projet_0/assets/images/image 3.png" alt="image 3">
                FEATURE FIVE</li>
        </ul>
        <hr>
        <h2 class="animate__animated animate__bounceInLeft animate__delay-5s">FREE</h2>
        <h3 class="animate__animated animate__bounceInLeft animate__delay-5s">Forever !</h3>
    
        <a class="animate__animated animate__bounceInLeft animate__delay-5s" href="#">Get started</a>
    </div>
</div>