@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols:wght@300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allan&display=swap');


.projet_0 h1{
    font-weight: 300;
    text-align: center;
    font-size: 2.25rem;
    margin: 35px 0 28px;
    line-height: 36px;
}
.projet_0 hr{
    margin: 25px auto 8px;
    width: calc(288px - 100px);
}
.projet_0{
    font-family: 'Noto Sans Symbols';
    line-height: 32.8px;
    background-color: #253868;
    color: black;
    display: flex;
        justify-content: center;
        align-items: center;
    height: 100vh;
}
.projet_0 .card{
    position: relative;
    background-color: white;
    width: 288px;
    height: 469px;
    border-radius: 27px;
    box-shadow: 4px 4px 40px rgb(0, 0, 0, 0.9);
    display: flex;
        flex-direction: column;
        align-items: center;
}
.projet_0 ul{
    width: 100%;
    padding: 0 50px;
}
.projet_0 li{
    line-height: 32.8px;
    font-weight: 600;
    display: flex;
    align-items: center; 
    letter-spacing: 1px;
    padding: 2px 0; 
    list-style: none;
}
.projet_0 li img{
    padding-right: 23px;
}
.projet_0 h2{
    text-align: center;
    font-weight: 700;
    line-height: 36px;
    font-size: 36px;
    letter-spacing: 5px;
}
.projet_0 h3{
    position: absolute;
    bottom: 69px;
    right: 62px;
    line-height: 36px;
    font-size: 36px;
    font-family: 'Allan';
    font-weight: 100;
    color: #2D4480;
}
.projet_0 a{
    background-color: #FFBC0F;
    color: #253868;
    font-weight: 600;
    border-radius: 34px;
    padding: 18px 34px;
    position: absolute;
        bottom: calc(-68.8px + (68.8px / 2));
    text-transform: uppercase;
    text-decoration: none;
}
