.header_main{
    background-image: url('../images/20230830_112638.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    .container_main{
        background-color: rgb(0, 0, 0,0.6);
        backdrop-filter: blur(5px);
        display: flex;
            flex-direction: column;
            align-items: center;
        padding-top: 18%;
        h1,h3{
            text-shadow: 4px 4px 4px black;
        }
        h1{
            font-size: 6em;
        }
        h3{
            font-size: 4em;
        }
        h3:last-child{
            text-decoration: underline;
        }
    }
}