
    <h2 class="titreProjet">Projet 1:</h2>
    <div class="projet_1">
        <div id="page">
            <header>
                <div class="container">
                    <div class="logo">
                        <a href="#">my<span>logo</span></a>
                    </div>
                    <input type="checkbox" name="check" id="check">
                    <label for="check">
                        <i class="fa-duotone fa-bars"></i>
                    </label>
                    <nav>
                        <ul class="menu">
                            <li><a href="#">home.</a></li>
                            <li><a href="#about">about.</a></li>
                            <li><a href="#projects">projects.</a></li>
                            <li><a href="#">team.</a></li>
                            <li><a href="#">contact.</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <main>
                <div class="container">
                    <section id="intro">
                        <div class="intro">
                            <img class="img_up" src="projet_1/assets/images/deco3-1.png" alt="">
                            <img class="img_down" src="projet_1/assets/images/deco2.png" alt="">
                            <h1>Awesome title</h1>
                            <h4>Pretty nice subtitle</h4>
                            <p>
                                And some lorem ipsum paragraph.
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Ullam, placeat in quas unde, modi eaque repellat.
                            </p>
                            <div>
                                <a href="#" class="button-container-1">
                                    <span class="mas">Get started</span>
                                    <button id='work' type="button" name="Hover">Get started</button>
                                </a>

                                <a href="#" class="button-container-2">
                                    <span class="mas">Know more</span>
                                    <button id='work' type="button" name="Hover">Know more</button>
                                </a>
                            </div>
                        </div>
                    </section>


                    <section id="about">
                        <img src="projet_1/assets/images/pic-1.png" alt="image">
                        <div class="about">
                            <img class="img_up" src="projet_1/assets/images/Ellipse-1.svg" alt="">
                            <h2>
                                Lorem ipsum sec
                                ad no meticulus
                            </h2>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci nulla cupiditate
                                rerum
                                harum. </p>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae laudantium mollitia
                                delectus, voluptate nobis perferendis vel atque similique a, vitae ullam doloribus et
                                ducimus obcaecati voluptatem quia temporibus consequatur alias?
                            </p>
                            <a href="#" class="button-container-1">
                                <span class="mas">Get started</span>
                                <button id='work' type="button" name="Hover">Get started</button>
                            </a>
                        </div>
                    </section>

                    <section id="projects">
                        <div class="projects">
                            <img class="img_up" src="projet_1/assets/images/deco3-1.png" alt="image">
                            <h2>
                                Lorem ipsum si amet.
                            </h2>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae laudantium mollitia
                                delectus, voluptate nobis perferendis vel atque.
                            </p>
                            <!-- <div class=""></div> -->
                        </div>
                        <div class="projets_expo">
                            <a href="projet_1/assets/images/Bitmap.png">
                                <span class="mas span_anime"><i class="fa-solid fa-comment-smile"></i></span>
                                <img src="projet_1/assets/images/Bitmap.png" alt="">
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                </p>
                                <span class="date">27 Nov, 2020</span>
                            </a>
                            <a href="projet_1/assets/images/Bitmap(1).png">
                                <span class="mas span_anime"><i class="fa-solid fa-comment-smile"></i></span>
                                <img src="projet_1/assets/images/Bitmap(1).png" alt="">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                </p>
                                <span class="date">25 Nov, 2020</span>
                            </a>
                            <a href="projet_1/assets/images/Bitmap(2).png">
                                <span class="mas span_anime"><i class="fa-solid fa-comment-smile"></i></span>
                                <img src="projet_1/assets/images/Bitmap(2).png" alt="">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                </p>
                                <span class="date">21 Nov, 2020</span>
                            </a>
                        </div>
                    </section>
                </div>
            </main>
            <footer>
                <div class="container">
                    <div class="body">
                        <div class="logo">
                            <a href="#">my<span>logo</span></a>
                        </div>
                        <ul class="menu">
                            <li>
                                <h3>menu</h3>
                            </li>
                            <li>lorem</li>
                            <li>ipsum</li>
                            <li>sidarta</li>
                            <li>emmet</li>
                            <li>lanis</li>
                        </ul>
                        <ul class="service">
                            <li>
                                <h3>Service</h3>
                            </li>
                            <li>Market Research</li>
                            <li>Branding</li>
                            <li>Strategy</li>
                            <li>Concepting</li>
                            <li>Development</li>
                        </ul>
                        <div class="links">
                            <span>
                                <img src="projet_1/assets/images/facebook.svg" alt="">
                            </span>
                            <span>
                                <img src="projet_1/assets/images/twitter.svg" alt="">
                            </span>
                            <span>
                                <img src="projet_1/assets/images/instagram.png" alt="">
                            </span>

                            <!-- <img src="assets/images/Oval.svg" alt="">
                        <img src="assets/images/instagram.png" alt=""> -->
                        </div>
                    </div>
                    <span class="hr"></span>
                    <div class="copyright">
                        <p>Copyright © 2020 Laaqiq. All Rights Reserved.</p>
                        <ul>
                            <li>Terms of Use</li>
                            <li>Privacy Policy</li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </div>

